<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <DispatchNewsletter>
        <processor type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.DispatchNewsletter.PublishMessage, Sitecore.Support.388644" hint="1" patch:after="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.DispatchNewsletter.DeployAnalytics, Sitecore.EmailCampaign']"/>
        <processor type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.DispatchNewsletter.PublishMessage, Sitecore.Support.388644" hint="2" patch:after="processor[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.DispatchNewsletter.MoveToSent, Sitecore.EmailCampaign']"/>
      </DispatchNewsletter>
    </pipelines>
    <settings>
      <setting name="ECM.PublishOnDispatchTo" value="web" />
    </settings>
    <hooks>
      <hook type="Sitecore.Support.Hooks.AddingECMAutopublish,Sitecore.Support.388644" />
    </hooks>
  </sitecore>
</configuration>